<fieldset class="well">
  <legend>Edition du jeu</legend>
  <div class="form-inputs">
    <%= form.input :name, :placeholder => name_placeholder_for(form.object) %>
    <%= form.input :game_id, :as => :hidden %>
    <%= form.association :editor, :disabled => @editor.present?, collection: Editor.all %>
    <%= form.input :out_date, :as => :date,  :discard_day => true  %>
    <%= form.association :country, collection: Country.all %>
    <div class="row">
      <div class="span4">
        <%= form.input :kind, :collection => Edition.kind.options %>
      </div>
      <div class="span4">
        <%= form.input :plateform, :collection => Edition.plateform.options %>
      </div>
    </div>
    <%= form.fields_for :box_front do |box|%>
      <div class="row">
        <div class="span4">
          <%= box.input :image, :as => :file %>
        </div>
        <div class="span4">
          <%= box.input :remote_image_url %>
        </div>
      </div>
    <% end -%>
  </div>
</fieldset>
