<table class="table table-striped editions">
  <thead>
    <tr>
      <th>Boite</th>
      <th>Nom</th>
      <th>Langue</th>
      <th>Editeur</th>
      <th>Primaire</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% editions.each do |edition| -%>
      <tr>
        <td><%= image_tag(edition.box_front.image.thumb.url) %></td>
        <td><%= edition.name %></td>
        <td><%= edition.country.name %></td>
        <td><%= edition.editor.name %></td>
        <td><%= edition_status(edition) %></td>
        <td>
          <%= dropdown_button_for "Gerer", icon: "icon-edit" do %>
            <li><%= link_to "Supprimer", game_edition_path(edition.game, edition), method: :delete %></li>
            <li><%= link_to "Modifer", edit_game_edition_path(edition.game, edition)  %></li>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
