<%= simple_form_for(@game, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <fieldset class="well">
    <legend>Le jeu</legend>
    <%= f.input :name %>
      <div class="row">
        <div class="span4">
          <%= f.input :min %>
        </div>
        <div class="span4">
          <%= f.input :max %>
        </div>
      </div>
      <%= f.input :time, :collection => Game.time.options, :class => "span3" %>
      <%= f.input :target, :collection => Game.target.options, :class => "span3" %>
      <%= f.input :level, :collection => Game.level.options, :class => "span1" %>
  </fieldset>
  </div>

  <fieldset class="well">
    <legend>Jeu de base</legend>
    <div class="form-inputs">
      <%= f.association :base_game, collection: @base_games %>
    </div>
  </fieldset>

  <% if @edition -%>
    <div class="form-inputs">
        <%= f.fields_for :editions, @edition do |fe| -%>
          <%= render "editions/form", :form => fe, :edition => @edition %>
        <% end -%>
    </div>
  <% end -%>
  <div class="form-actions">
    <%= f.button :submit, :value => "Creer", :class => "btn-primary" %>
    <%= link_to "Annuler", games_path, :class => "btn" %>
  </div>
<% end %>
