<div class="page-header">
  <h2>Modification de <%= @game.name %></h2>
</div>

<%= tabs do |t| %>
  <%= t.add "Géneral", edit_game_path(@game), :active => true do %>
    <%= render 'form' %>
  <% end -%>
  <%= t.add "Les éditions", game_editions_path(@game) do  %>
    <%= render 'editions/list', editions: @game.editions %>
  <% end -%>
  <%= t.add "Nouvelle edition", new_game_edition_path(@game) do  %>
    <%= simple_form_for([@game, @edition]) do |f| %>
      <%= f.error_notification %>
      <%= render 'editions/form', form: f %>

      <div class="form-actions">
        <%= f.button :submit, value: "Creer", class: "btn btn-primary" %>
        <%= link_to "Annuler", games_path, class: "btn" %>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
