<div class="page-header">
  <h2>Modification de <%= @game.name %></h2>
</div>

<%= tabs do |t| %>
  <%= t.add "Géneral", kind_edit_game_path(@game, :general), :active => "general" == params[:kind] do %>
    <%= render 'form' %>
  <% end -%>

  <%= t.add "Les éditions", kind_edit_game_path(@game, :editions), :active => "editions" == params[:kind] do  %>
    <%= render 'editions/list', editions: @game.editions %>
  <% end -%>

  <%= t.add "Nouvelle edition", kind_edit_game_path(@game, :new_edition), :active => "new_edition" == params[:kind]  do  %>
    <%= simple_form_for([@game, @edition]) do |f| %>
      <%= f.error_notification %>
      <%= render 'editions/form', form: f %>

      <div class="form-actions">
        <%= f.button :submit, value: "Creer", class: "btn btn-primary" %>
        <%= link_to "Annuler", games_path, class: "btn" %>
      </div>
    <% end -%>
  <% end -%>

  <%= t.add "Les extensions", kind_edit_game_path(@game, :extensions), :active => %w(extensions new_extension).include?(params[:kind]) do %>
    <% if @extensions && @extensions.any? -%>
      <%= simple_form_for("extensions",  url: extension_game_path(@game), method: :post, html: {class: 'form-horizontal'}) do |f| %>
        <% @extensions.each_with_index do |ext, index| %>
          <%= f.simple_fields_for ext, :index => index do |ff| -%>
            <%= ff.input :id, collection: @base, label_method: :name, value_method: :id, label: "Nom de l' extension" %>
          <% end -%>
        <% end -%>
        <div class="form-actions">
          <%= f.button :submit, value: "Ajouter", class: "btn btn-primary" %>
          <%= link_to "Annuler", kind_edit_game_path(@game, :extensions), class: "btn" %>
        </div>
      <% end -%>
    <% else -%>
      <%= link_to_button "Ajouter", kind_edit_game_path(@game, :new_extension), :icon => "add" %>
    <% end -%>
    <ul class="thumbnails">
      <%= render @game.extensions.reject{ |ext| ext.new_record? } %>
    </ul>
  <% end -%>
<% end -%>
