<div class="page-header">
  <h2>Modification de <%= @game.name %></h2>
</div>

<%= tabs do |t| %>
  <%= t.add "Géneral", kind_edit_game_path(@game, :general), :active => "general" == params[:kind] do %>
    <%= render 'form' %>
  <% end -%>
  <%= t.add "Les éditions", kind_edit_game_path(@game, :editions), :active => "editions" == params[:kind] do  %>
    <%= render 'editions/list', editions: @game.editions %>
  <% end -%>
  <%= t.add "Nouvelle edition", kind_edit_game_path(@game, :new_edition), :active => "new_edition" == params[:kind]  do  %>
    <%= simple_form_for([@game, @edition]) do |f| %>
      <%= f.error_notification %>
      <%= render 'editions/form', form: f %>

      <div class="form-actions">
        <%= f.button :submit, value: "Creer", class: "btn btn-primary" %>
        <%= link_to "Annuler", games_path, class: "btn" %>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
