<div class="page-header">
  <h1>Listing games</h1>
</div>

<div class="pagination pagination-centered">
  <ul>
    <% ('A'..'Z').each do |letter| %>
      <li><%= link_to letter, "#" %></li>
    <% end %>
  </ul>
</div>

<div class='row'>
<% @games.each do |game| %>
    <div class="span6 game">
      <div class='inner'>
        <h4><%= link_to game.name, game_path(game) %></h4>
        <div class='row'>
          <div class="span2">
            <%= image_tag "http://placehold.it/140x100" %>
          </div>
          <div class="span3">
            <h5>Description</h5>
            <p>My awsome description here</p>
          </div>
        </div>
        <ul class="unstyled horizontal">
          <li><i class='icon user'></i>Player : <%= game.min %> - <%= game.max %></li>
          <li><i class='icon book'></i>Level : <%= game.level %></li>
          <li><i class='icon time'></i>Time : About 1 hours long</li>
        </ul>
      </div>
    </div>
<% end %>
</div>
