<div class="page-header">
  <h1>Listing games</h1>
</div>

<div class="pagination pagination-centered">
  <ul>
    <% ('A'..'Z').each do |letter| %>
      <li><%= link_to letter, "#" %></li>
    <% end %>
  </ul>
</div>

<ul class="thumbnails">
<% @games.each do |game| %>
    <li class="span5 game">
      <h4><%= game.name %></h4>
      <div class='row'>
        <div class="span2">
          <img src="http://placehold.it/210x150" alt="">
        </div>
        <div class="span3">
          <h5>Description</h5>
          <p>My awsome description here</p>
        </div>
      </div>
      <ul class="unstyled horizontal">
        <li><i class='icon user'></i>Player : <%= game.min %> - <%= game.max %></li>
        <li><i class='icon book'></i>Level : <%= game.level %></li>
        <li><i class='icon time'></i>Time : About 1 hours long</li>
      </ul>
    </li>
<% end %>
</ul>
