<% if @editor -%>
  <div class="row header">
    <div class="span4">
      <%= image_tag @editor.logo.image.normal.url %>
    </div>
    <div class="span8">
      <div class="row">
        <div class="span4">
          <span class="title"><%= @editor.name %></span>
        </div>
        <div class="span1 offset2">
          <span class="flag f16 <%= @editor.country.code.downcase %>"><%= @editor.country.name %></span>
        </div>
      </div>
      <div class="row">
      <% if @editor.url.present? -%>
        <%= link_to "Site web de l'editeur", @editor.url, :class => "icon-home"  %>
      <% end -%>
      <%= link_to edit_editor_path(@editor), :class => "btn" do %>
        <i class="icon-edit"></i>&nbsp;Modifier
      <% end -%>
      <%= link_to new_editor_game_path(@editor), :class => "btn" do %>
        <i class="icon-file"></i> Nouveau jeu
      <% end -%>
      <% unless @editor.editions.count > 0  -%>
        <%= link_to editor_path(@editor), :method => :delete, :class => "btn" do %>
          <i class="icon-"></i>Supprimer
        <% end -%>
      <% end -%>
      </div>
    </div>
  </div>
<% end -%>

<% if @games.any? -%>
<ul class="thumbnails">
  <% @games.each do |game| %>
      <%= render game %>
  <% end %>
</ul>
<% else -%>
  <p class="empty">
  Aucun jeux  <%= "pour #{@editor.name.humanize}" if @editor %>.
  </p>

<% end -%>

<% content_for :breadcrump do -%>
  <li><%= link_to @title, games_path -%></li>
<% end -%>
<% content_for :navbar do %>
  <%= link_to "Nouveau", new_game_path, :class => "btn btn-primary" %></li>
<% end unless @editor %>
