<% if @editor -%>
  <div class="row header">
    <div class="span4">
      <%= image_tag @editor.logo.image.normal.url %>
    </div>
    <div class="span8">
      <div class="row">
        <div class="span4">
          <span class="title"><%= @editor.name %></span>
        </div>
        <div class="span1 offset2">
          <span class="flag f16 <%= @editor.country.code.downcase %>"><%= @editor.country.name %></span>
        </div>
      </div>
      <div class="row">
      <% if @editor.url.present? -%>
        <%= link_to "Site web de l'editeur", @editor.url, :class => "icon-home"  %>
      <% end -%>
      <%= link_to_button "Modifier", edit_editor_path(@editor), icon: "edit" %>
      <%= link_to_button "Nouveau jeu", new_editor_game_path(@editor), icon: "file" %>
      <% unless @editor.editions.count > 0  -%>
        <%= link_to_button "Supprimer", editor_path(@editor), :method => :delete, icon: "trash" %>
      <% end -%>
      </div>
    </div>
  </div>
<% end -%>
<% if @person -%>
  <div class="row header">
    <div class="span12">
      <span class="title"><%= @person.fullname %></span>
    </div>
    <%= link_to_button "Modifier", edit_person_path(@person), icon: "edit" %>
  </div>
<% end -%>

<% if @games.any? -%>
<ul class="thumbnails">
  <% @games.each do |game| %>
      <%= render game %>
  <% end %>
</ul>
<% else -%>
  <p class="empty">
  Aucun jeux  <%= "pour #{@editor.name.humanize}" if @editor %>.
  </p>

<% end -%>

<% content_for :breadcrump do -%>
  <li><%= link_to @title, games_path -%></li>
<% end -%>
<% content_for :navbar do %>
  <%= link_to "Nouveau", new_game_path, :class => "btn btn-primary" %></li>
<% end unless @editor %>
