<div class="page-header">
  <h2><%= @title %></h2>
</div>

<%= render 'form' %>


<% content_for :breadcrump do -%>
  <li><%= link_to "Tous les jeux", games_path %><span class="divider">/</span></li>
  <li><%= @title %></li>
<% end -%>
<% content_for :navbar do %>
  <li class="nav-header">Gerer</li>
  <li><%= link_to "Creer jeu", new_game_path %></li>
  <li><%= link_to "Tous les jeux", games_path %></li>
<% end %>
