
<%= notice %>


<ul class="nav nav-tabs">
  <li class="active">
    <a href="#general", data-toggle="tab"><%= @game.name %></a>
  </li>
  <li><a href="#editions">Editions</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="general">
    <div class="span4">
      <%= image_tag @game.editions.primary.first.box_front.image.normal.url %>
    </div>
  </div>
  <div class="tab-pane" id="extensions">
  </div>
  <div class="tab-pane" id="editions">
    <%= render "editions/list" %>
  </div>
</div>

<% content_for :breadcrump do -%>
  <li><%= link_to "Les jeux", games_path -%><span class="divider">/</span></li>
  <li><%= @game.name.humanize %></li>
<% end -%>
<% content_for :navbar do %>
  <li><%= link_to "Nouvelle ditions", new_game_edition_path(@game), :class => "btn" %></li>
<% end %>
