<div class="page-header">
  <h2><%= @game.name %>
  <small><%= (@game.editions.pluck(:name).uniq - [@game.name]) * ', ' %></small></h2>
</div>

<%= notice %>

<div class="span4">
  <%= image_tag @game.editions.primary.first.box_front.image.normal.url, :class => "box" %>
</div>
<div class="span8">
  <ul class="unstyled horizontal" id="technical">
    <li><i class="icon-time"></i><%= @game.time.text %></li>
    <li><i class="icon-user"></i><%= @game.min %>/ <%= @game.max %></li>
    <li><i class="icon-fire"></i><%= @game.level.text %></li>
  </ul>
  <h3>Crée par</h3>
  <ul class="horizontal unstyled">
    <% @game.authors.each do |a| -%>
      <li><%= a.fullname %></li>
    <% end -%>
  </ul>
  <h3>Edité par :</h3>
  <ul class="thumbnails">
     <% @game.editions.each do |edition|  -%>
        <li class="<%= "box " if @game.active_edition == edition %>span1 thumbnail"><%= image_tag  edition.editor.logo.image.thumb.url %></li>
     <% end -%>
  </ul>
  <%= link_to "#", :class => "btn btn-large btn-success" do %>
    <i class="icon-bookmark"></i> Ajouter a mes jeux...
  <% end -%>

  <%= link_to new_game_edition_path(@game), :class => "btn btn-large" do %>
    <i class="icon-plus-sign"></i>Ajouter une editions
  <% end -%>
  <%= link_to edit_game_path(@game), :class => "btn btn-large" do %>
    <i class="icon-edit"></i>Modifier
  <% end -%>
</div>

<% content_for :breadcrump do -%>
  <li><%= link_to "Les jeux", games_path -%><span class="divider">/</span></li>
  <li><%= @game.name.humanize %></li>
<% end -%>
<% content_for :navbar do %>
<% end %>
