<div class="page-header">
  <h2><%= @game.name %>
  <small><%= (@game.editions.pluck(:name).uniq - [@game.name]) * ', ' %></small></h2>
</div>

<%= notice %>

<div class="col-lg-4">
  <%= image_tag @game.active_edition.box_front.image.normal.url, :class => "box" %>
</div>
<div class="col-lg-8">
  <ul class="unstyled horizontal" id="technical">
    <li><i class="icon-time"></i><%= @game.time.text %></li>
    <li><i class="icon-user"></i><%= @game.min %>/ <%= @game.max %></li>
    <li><i class="icon-fire"></i><%= @game.level.text %></li>
  </ul>
  <h3>Crée par</h3>
  <ul class="horizontal unstyled">
    <% @game.authors.each do |a| -%>
      <li><%= a.fullname %></li>
    <% end -%>
  </ul>
  <h3>Edité par :</h3>
  <div class="row">
    <% @game.editions.each do |edition|  -%>
      <div class="col-lg-2">
        <div class="<%= "box " if @game.active_edition == edition %> thumbnail">
          <%= image_tag  edition.editor.logo.image.boxed.url %>
        </div>
      </div>
     <% end -%>
  </div>
    <div class="actions">
    <%= link_to "#", class: "btn-success btn" do %>
      <i class="icon-bookmark"></i> Ajouter a mes jeux...
    <% end -%>
    <%= dropdown_button_for("Modifier", kind_edit_game_path(@game, :general), :class => "btn-info", :icon => "icon-edit", split: true) do %>
      <li><%= link_to "Ajouter une edition", kind_edit_game_path(@game, :new_edition) %></li>
      <li><%= link_to "Gerer les editions", kind_edit_game_path(@game, :editions) %></li>
      <li><%= link_to "Gerer les extensions", kind_edit_game_path(@game, :extensions) %></li>
    <% end -%>
  </div>

<% unless @game.base_game_id.present?  -%>
  <h3 class="page-section">Les extensions</h3>
  <% if @game.extensions.any? -%>
  <ul class="thumbnails">
     <% @game.extensions.each do |ext|  -%>
        <li class="span2 game thumbnail">
          <h4><%= link_to ext.name, game_path(ext) %></h4>
          <%= image_tag ext.active_edition.box_front.image.boxed.url  %>
        </li>
     <% end -%>
  </ul>
  <% else -%>
    <p class="empty"><%= @game.name %> ne possede pas d'extensions pour le moment</p>
  <% end -%>
<% end -%>
