<% content_for :breadcrump do -%>
  <li><%= link_to "Les Pays", admin_countries_path %><span class="divider">/</span></li>
<% end -%>

<table class=" f32 table table-bordered table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th class="span1">Drapeau</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    <% @countrie.each do |c| -%>
      <tr>
        <td><%= c.code %></td>
        <td class="flag <%= c.code.downcase %>"></td>
        <td><%= c.name %></td>
      </tr>
    <% end -%>
</tbody>
</table>


<% content_for :navbar do -%>
 <li><%= link_to "Nouveau...", new_admin_country_path %></li>
<% end -%>
