<fieldset class="well">
  <legend>Caractéristiques</legend>
  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :url %>
    <%= form.association :country %>
  </div>
</fieldset>

<fieldset class="well">
  <legend>Logo</legend>
  <div class="form-inputs">
    <%= form.fields_for :logo, @editor.logo do |fl| %>
      <div class="row">
        <div class="span4">
          <%= fl.input :image, :as => :file %>
        </div>
        <div class="span4">
          <%= fl.input :remote_image_url, :as => :string, :label => "URL du logo" %>
        </div>
      </div>
  <% end -%>
  </div>
</fieldset>
