<fieldset class="well">
  <%= form.input :name %>
</fieldset>
<fieldset class="well">
  <legend></legend>
  <div class="form-inputs">
    <%= form.input :url %>
    <%= form.association :country %>
  </div>
</fieldset>

<fieldset class="well">
  <div class="form-inputs">
    <%= form.fields_for :logo, @editor.logo do |fl| %>
      <%= fl.input :image, :as => :file %>
      Ou
      <%= fl.input :remote_image_url, :as => :string, :label => "URL du logo" %>
  <% end -%>
</fieldset>
</div>
