<div class="page-header">
  <h2>Modifiaction de <%= @editor.name %></h2>
</div>

<%= simple_form_for(@editor) do |f| %>
  <%= render f %>
  <div class="form-actions">
    <%= f.button :submit, :value => "Mettre a jour", :class => "btn btn-primary" %>
    <%= link_to "Annuler", editors_path, :class => "btn" %>
  </div>
<% end -%>
