<ul class="thumbnails">
 <% @editors.each do |editor| -%>
 <li class="span3 game thumbnail">
  <h3><%= link_to editor.name, editor_games_path(editor) %></h3>
  <%= link_to editor_path(editor) do %>
    <div class="thumbnail">
      <%= image_tag editor.logo.image.normal.url, :alt => editor.name %>
    </div>
  <% end -%>
  </li>
 <% end -%>
</ul>

<% content_for :breadcrump do -%>
  <li><%= link_to @title, editors_path -%></li>
<% end -%>
<% content_for :navbar do %>
  <%= link_to "Nouveau", new_editor_path, :class => "btn btn-primary" %>
<% end -%>
